:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-dark-bg-color: #2f303a;
  --secondary-light-bg-color: #f5f4fa;
  --primary-bg-color: #ffffff;
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.portfolio-link {
  list-style: none;
  text-decoration: none;
}

.logo {
  color: #000000;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.footer-logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.contacts-link {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.first-part-logo {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.site-nav-link,
.contacts-link,
.footer-contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-title,
.footer-logo,
.footer-address {
  color: var(--primary-bg-color);
}

.site-nav-link,
.quality-title,
.work-title,
.team-title,
.team-member {
  color: var(--title-text-color);
}

.active-page {
  color: var(--accent-color);
  position: relative;
}

.active-page::after {
  content: '';
  width: 100%;
  height: 4px;
  right: 0;
  bottom: -1px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  display: block;
}

.portfolio-button {
  color: var(--title-text-color);
  background-color: var(--secondary-light-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px 6px 22px;
}

.hero-button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  padding: 10px 32px 10px 32px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.hero-button,
.hero-title {
  letter-spacing: 0.06em;
}

.site-nav-link,
.contacts-link {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.quality-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  margin-bottom: 10px;
}

.quality-description {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  align-items: center;
  text-align: center;
}

.member-major {
  font-size: 16px;
  line-height: 1.19;
  align-items: center;
  text-align: center;
}

.footer-address,
.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  align-items: flex-start;
  text-decoration: none;
}

a .portfolio-project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: 0;
}

a .portfolio-project-kind {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  margin: 0;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/herobg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.hero {
  background-color: var(--secondary-dark-bg-color);
}

.footer {
  background-color: var(--secondary-dark-bg-color);
}

.team {
  background-color: var(--secondary-light-bg-color);
}

.hero-button,
.portfolio-button {
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}

.footer-address-contacts {
  font-style: normal;
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 3px 1px rgba(0, 0, 0, 0.1);
}

.team-list {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link,
.contacts-item {
  display: block;
}

.site-nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav,
.contacts,
.nav-header,
.container-header,
.work-list {
  display: flex;
  align-items: center;
}

.contacts {
  margin-left: auto;
}

.quality-list {
  display: flex;
}

.quality-item:not(:last-child),
.work-item:not(:last-child),
.team-list:not(:last-child) {
  margin-right: 30px;
}

.work {
  padding-top: 0;
}

.work-title,
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.work-item {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}

.team-card-member {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-member {
  margin-bottom: 10px;
}

.member-major {
  margin-top: 0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.team-list-conteiner {
  display: flex;
}

.footer-address,
.footer-contact {
  display: block;
}

.footer-contacts-item {
  margin-top: 9px;
}

.footer-contacts-item:nth-child(1) {
  margin-top: 0;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list-nav {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item-list {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-link {
  display: inline-block;
  width: calc((100% - 60) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay {
  overflow: hidden;
  position: relative;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
    0 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-text {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-text,
.portfolio-link:focus .portfolio-text {
  transform: translateY(0);
}

.portfolio-item-list:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-type {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px 20px 24px;
}

.mail-icon {
  width: 16px;
  height: 12px;
  color: currentColor;
  fill: currentColor;
  margin-right: 10px;
}

.tel-icon {
  width: 10px;
  height: 16px;
  color: currentColor;
  fill: currentColor;
  margin-right: 10px;
}

.footer-container {
  align-items: baseline;
  display: flex;
}

.connect {
  margin-left: 80px;
  margin-right: 93px;
}

.connect-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.connect-list {
  display: flex;
}

.connect-item {
  margin-top: auto;
  margin-bottom: auto;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.social-item {
  margin-top: auto;
  margin-bottom: auto;
  color: #afb1b8;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.connect-link:hover,
.connect-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.connect-item:not(:last-child) {
  margin-right: 10px;
}

.connect-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram-icon,
.twitter-icon,
.facebook-icon,
.linkedin-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social-instagram-icon,
.social-twitter-icon,
.social-facebook-icon,
.social-linkedin-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  color: currentColor;
}

.quality-icon {
  width: 270px;
  height: 120px;
  background-color: var(--secondary-light-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-item {
  width: 70px;
  height: 70px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.client-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
  color: currentColor;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 611px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.close-black {
  position: absolute;
  width: 18px;
  height: 18px;
  display: block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: currentColor;
  fill: currentColor;
}

.close-black-btm {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-black-btm:hover,
.close-black-btm:focus {
  color: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.email-form-label {
  margin-right: 12px;
}

.email-form {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
}

.footer-form {
  display: flex;
  align-items: baseline;
}

.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.send-btm {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

textarea {
  resize: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-lable {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.icon-form {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 50%;
  display: inline-block;
  transform: translateY(3px);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form {
  height: 40px;

  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-form:hover,
.input-form:focus,
.textarea-field:hover,
.textarea-field:focus {
  border-color: var(--accent-color);
  outline: none;
}

.input-form:hover ~ .icon-form,
.input-form:focus ~ .icon-form {
  fill: var(--accent-color);
}

.textarea-field {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-form {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-link {
  color: var(--accent-color);
}

.checkbox-btm {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox-input:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
}
